@font-face {
    font-family: 'Raleway';
    src: url('../fonts/subset-Raleway-Black.woff2') format('woff2'),
        url('../fonts/subset-Raleway-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/subset-Raleway-ExtraLight.woff2') format('woff2'),
        url('../fonts/subset-Raleway-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/subset-Raleway-Thin.woff2') format('woff2'),
        url('../fonts/subset-Raleway-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/subset-Raleway-Light.woff2') format('woff2'),
        url('../fonts/subset-Raleway-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/subset-Raleway-Regular.woff2') format('woff2'),
        url('../fonts/subset-Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/subset-Raleway-Medium.woff2') format('woff2'),
        url('../fonts/subset-Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/subset-Raleway-ExtraBold.woff2') format('woff2'),
        url('../fonts/subset-Raleway-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/subset-Raleway-SemiBold.woff2') format('woff2'),
        url('../fonts/subset-Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/subset-Raleway-Bold.woff2') format('woff2'),
        url('../fonts/subset-Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/subset-Raleway-Heavy.woff2') format('woff2'),
        url('../fonts/subset-Raleway-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

